SQL Part 3 Exercises -- BooksDB

TO\_READ table:

- user\_id, book\_id

BOOK table:

- id, book\_id, best\_book\_id, work\_id, book\_counts, isbn, isbn13, authors, original\_publication\_year, original\_title, title, language\_code, average\_rating, ratings\_count, work\_ratings\_count, work\_text\_reviews\_count, ratings\_1-5, small and large image urls

RATINGS

- book\_id, user\_id, rating

Practice Joins

- Have the students run all 4 and explain the differences between how they are organized
- What happens when we remove nulls from a particular column?

## QUESTION 1:  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: 

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer:

In [ ]:

-- Query 1: LEFT JOIN 
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

## QUESTION 2: Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment Query 1 to answer the question.

**Part A:** Looking at query 1, which table is the 'Left' and which is the 'Right'?

> Your Answer:

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer:

In [34]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*/


-- ANS
-- A: Left = books, Right = to_read
-- B: the table is filled using the right table, starting with the key, book_id.  Not every book_id is paired with an item on the left table, so null appears.

## QUESTION 3: Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment Query 1 to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer:

In [35]:
/*
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;
*/

-- ANS:
-- full joins both tables into one, regardless of null values.  
-- based on the key, so if missing data in left table, nulls will be on left side. (see row 2)
-- abd opposite if missing data on right side (best seen in ORDER BY user_id)

## QUESTION 4: Exploring INNER Joins with the **books** and **to\_read** tables

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer:</span>

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span> 

> Your Answer:

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

In [36]:
/*
-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
-- WHERE b.title IS NOT NULL
ORDER BY tr.book_id;
*/

-- Part C answer: if they see anything NOT harry potter, then something is wrong.  (Should be 30 lines of harry potter and the half-blood prince)

In [43]:
-- looking for a suggestion -- between 4 and 5 stars
-- HAVING rating >= 4

SELECT TOP 5 b.title, b.average_rating, r.user_id, b.book_id
FROM BooksDB.dbo.ratings AS r
LEFT JOIN BooksDB.dbo.books AS b
ON r.book_id = b.book_id
--WHERE b.title IS NOT NULL;
-- GROUP BY r.user_id
-- HAVING b.average_rating > 4.2;

title,average_rating,user_id,book_id
NULL,NULL,35146,NULL
NULL,NULL,36099,NULL
NULL,NULL,36695,NULL
NULL,NULL,37284,NULL
NULL,NULL,37834,NULL

In [6]:
-- Find the most tagged book

-- using the books and book_tags tables:

-- What Book has the most popular tag id?
SELECT TOP 5 b.title, bt.count, bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
ON bt.goodreads_book_id = b.best_book_id
ORDER BY bt.count DESC;
-- ANS: The Alchemist

-----------------------------------------------
-- How many different tags for the Alchemist?
SELECT TOP 5 b.title, bt.[count], bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
ON bt.goodreads_book_id = b.best_book_id
WHERE b.title = 'The Alchemist'
ORDER BY bt.[count] DESC;
-- ANS: 100

-------------------------------------
-- using the tags table

-- what is the most popular tag for the Alchemist?
SELECT tag_name
FROM BooksDB.dbo.tags
WHERE tag_id = 30574;
-- ANS: to-read (seriously?!?)

title,count,tag_id
The Alchemist,596234,30574
"The Girl with the Dragon Tattoo (Millennium, #1)",586235,30574
All the Light We Cannot See,505884,30574
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",496107,30574
Les Misérables,488469,30574

title,count,tag_id
The Alchemist,596234,30574
The Alchemist,26269,8717
The Alchemist,9712,11743
The Alchemist,8698,11557
The Alchemist,3089,7457

tag_name
to-read

In [7]:
-- Using the tag_name and tags tables, pick a tag and explore how many times it has been used.  

-- tag suggestions:
    -- %baking% 22 tags
    -- %coding%% 1 tag
    -- %giraffes%% 2 tags
    -- %halloween% 8 tags
    -- %fiction% 826 tags
    -- %nonfiction% 103 tags
    -- %philosophy% 94 tags

SELECT * 
FROM BooksDB.dbo.tags
WHERE tag_name LIKE '%halloween%' 
-- halloween, halloween-books, halloween-reading, halloween-reads, halloween-storytime
-- holiday-halloween, holidays-halloween, spooky-reads-for-halloween
-- i like the 'halloween-storytime' tag: 13877

-- Find the book with the most tags that you selected
SELECT b.title, bt.[count], bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
ON bt.goodreads_book_id = b.best_book_id
WHERE bt.tag_id = 13877; --(halloween-storytime)
-- The Little Old Lady Who Was Not Afraid of Anything
-- WHERE bt.tag_id = 13873 --(halloween)
-- ORDER BY bt.[count] DESC;
-- The Little Old Lady Who Was Not Afraid of Anything (63 tags)

tag_id,tag_name
13873,halloween
13874,halloween-books
13875,halloween-reading
13876,halloween-reads
13877,halloween-storytime
14698,holiday-halloween
14706,holidays-halloween
28416,spooky-reads-for-halloween

title,count,tag_id
The Little Old Lady Who Was Not Afraid of Anything,4,13877

In [8]:
-- Using the to_read table with the book table 
-- Which users have the most books on their "to read" list?
SELECT TOP 5 COUNT(b.title) AS NumToRead, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY NumToRead DESC;

-- Pick a user and print the titles for their to-read list
SELECT TOP 20 b.title AS ToReadList
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE tr.user_id = 12483

-- WHAT ARE THE TOP TEN MOST POPULAR BOOK TITLE ON THE TO READ LIST?  
SELECT TOP 10 COUNT(tr.user_id) AS NumToRead, b.title
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY b.title 
ORDER BY NumToRead DESC;

NumToRead,user_id
15,11932
15,12483
15,38201
15,14771
14,41523

ToReadList
Fahrenheit 451
Hamlet
Great Expectations
Madame Bovary
A Room with a View
Cryptonomicon
"The Complete Sherlock Holmes, Vol 2"
Tropic of Cancer
The New York Trilogy
Metamorphoses
Founding Brothers: The Revolutionary Generation
"Peter and the Shadow Thieves (Peter and the Starcatchers, #2)"
"The Salmon of Doubt (Dirk Gently, #3)"
Jailbird
The Broken Wings

NumToRead,title
1812,The Ultimate Hitchhiker's Guide to the Galaxy
1767,"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)"
1499,The Lord of the Rings: The Art of The Fellowship of the Ring
1498,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)"
1484,"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
1352,The Known World
1293,"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"
1211,The Lord of the Rings: Weapons and Warfare
1148,Notes from a Small Island
1110,"Harry Potter Collection (Harry Potter, #1-6)"

In [9]:
-- SELECT TOP 5 COUNT(tr.book_id) AS WishListCounts, tr.user_id
-- FROM BooksDB.dbo.to_read AS tr
-- GROUP BY tr.user_id
-- ORDER BY WishListCounts DESC;

-- SELECT TOP 200 b.title, b.average

In [10]:
-- what books are on the user with the most books on the to-read list?

SELECT TOP 100 b.title
FROM BooksDB.dbo.to_read AS tr
INNER JOIN BooksDB.dbo.books AS b
ON b.book_id = tr.book_id
WHERE tr.user_id = 38557

title
Another Bullshit Night in Suck City